@import "node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";
@import "_header";
@import "_footer";
@import "_login";
@import "_welcome-page";

/* Header Styling */

.logo-bbva {
    display: block;
    margin: 0 auto;
}

.text-showcase {
    text-align: center;
}


/* Content Block Styling */

.main-container {
    margin: 5vw 0;
}

.img-showcase {
    display: block;
    margin: 0 auto;
}