extends layout.pug

block menu
    .header-container
        span.return-button
            i.fa.fa-left-arrow
        img.logo-bbva(src='' alt='BBVA Logo')

block content
    .row
            .col
                h1.text-showcase Texto cachondo
                img.img-showcase(src='' alt='')
                button.cta-button(type='button' onclick='window.location.href = ""') Boton cachondo 1
                button.cta-button(type='button' onclick='window.location.href = ""') Boton cachondo 2
