extends layout.pug
block menu
    .header-container
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')

block content
    .row.main-container
            .results-top-text.text-center
                img.destination-featured-img(src='/public/img/interests/compass.svg')
                h5.text-showcase Get the best travel based on your destination
                div.budget-text Take in account..full trip..lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='window.location.href = ""') Select destination
                button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='window.location.href = ""') Skip for now