extends layout.pug
block menu
    .header-container
        span.return-button
            i.fa.fa-arrow-left
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')
block content

block content
    .row.main-container
            .results-top-text.text-center
                img.destination-featured-img(src='/public/img/interests/compass.svg')
                h5.text-showcase Get the best travel based on your destination
                div.budget-text Whether you plan a luxury trip or a backpacking tour, a good estimation starts with a realistic budget. Consider flights, transportation accommodation and activities!
                button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='window.location.href = ""') Select destination
                button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='window.location.href = "/interests"') Skip for now