extends layout

block menu
    .header-container
        span.return-button(onclick='window.history.back()')
            i.fa.fa-arrow-left
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')

block content
    .row
        .col
            .cheapest-container
                .cheapest-top-text.text-center
                    h1.text-showcase This is the cheapest option
                    h3.text-showcase-sub tailored to your custom experience
                    img.featured-details-img(src='/public/img/interests/result.svg' alt='Result')
                .cheapest-card-container.card
                    .card-body
                        .card-title.big-destination MAD #[i.fa.fa-plane] BCN
                        .card-subtitle.mb-2.text-muted.big-destination-date Fly 30/03 – Return 20/04
                        .card-subtitle.mb-2.text-muted.big-destination-sub Iván, this is the cheapest flight based on your desired experience
                        hr
                        .item-expense
                            span.card-text.expense-desc One way price:
                            span.expense-total 120,00€
                        .item-expense
                            span.card-text.expense-desc Return price:
                            span.expense-total 300,00€
                        .item-expense
                            span.card-text.expense-desc Period (30/03 to 20/04):
                            span.expense-total 250,00€
                        .item-expense.expense-desc.cost-sum
                            span.card-text.expense-desc Total:
                            span.expense-total 710,00€
                        a.card-link.cheapest-book(href='#') #[i.fa.fa-arrow-right] Book now
            button.btn.btn-primary.btn-lg.btn-block.other-options-button(type='button' onclick='window.location.href = "#firstCard"') Explore other options
            .other-options-container
                .card.flight-list-card
                    .card-body#firstCard
                        .row
                            .col-6.flight-list-lft
                                .card-title.flight-list-title MAD #[i.fa.fa-plane] BCN
                                a.btn.btn-secondary.disabled.flight-list-date(href='#') 
                                    i.fa.fa-clock-o
                                    |  03/07 to 08/09
                            .col-6.flight-list-rght
                                span.flight-list-price
                                    span est.
                                    | 1,000€
                                a.card-link.flight-list-book(href='#') #[i.fa.fa-arrow-right] View more
                .card.flight-list-card
                    .card-body
                        .row
                            .col-6.flight-list-lft
                                .card-title.flight-list-title MAD #[i.fa.fa-plane] ZGZ
                                a.btn.btn-secondary.disabled.flight-list-date(href='#') 
                                    i.fa.fa-clock-o
                                    |  05/07 to 08/03
                            .col-6.flight-list-rght
                                span.flight-list-price
                                    span est.
                                    | 500€
                                a.card-link.flight-list-book(href='#') #[i.fa.fa-arrow-right] View more
            .card.flight-list-card
                    .card-body
                        .row
                            .col-6.flight-list-lft
                                .card-title.flight-list-title MAD #[i.fa.fa-plane] BLB
                                a.btn.btn-secondary.disabled.flight-list-date(href='#') 
                                    i.fa.fa-clock-o
                                    |  06/07 to 09/11
                            .col-6.flight-list-rght
                                span.flight-list-price
                                    span est.
                                    | 3,000€
                                a.card-link.flight-list-book(href='#') #[i.fa.fa-arrow-right] View more
            .card.flight-list-card
                    .card-body
                        .row
                            .col-6.flight-list-lft
                                .card-title.flight-list-title MAD #[i.fa.fa-plane] OPO
                                a.btn.btn-secondary.disabled.flight-list-date(href='#') 
                                    i.fa.fa-clock-o
                                    |  02/05 to 02/10
                            .col-6.flight-list-rght
                                span.flight-list-price
                                    span est.
                                    | 2,040€
                                a.card-link.flight-list-book(href='#') #[i.fa.fa-arrow-right] View more
                        
block append scripts
    script.
        document.addEventListener('DOMContentLoaded', function () {
            TweenMax.to('.featured-details-img', 15, {transformOrigin:"50% 50%", rotation:"-=360", repeat:-1, ease:Linear.easeNone});
        })