extends layout.pug

block menu
    .header-container
        span.return-button
            i.fa.fa-left-arrow
        img.logo-bbva(src='' alt='BBVA Logo')

block content
    .row.main-container
            .col-6.interest-block
                img(src='' alt='')
                div Interés
            .col-6
                

