extends layout.pug

block menu
    .header-container
        span.return-button
            i.fa.fa-left-arrow
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')

block content
    .row.main-container
        .interests-container
            .row
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#food
                        img(src='/public/img/interests/food.svg' alt='')
                        div Food
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#shopping
                        img(src='/public/img/interests/shopping.svg' alt='')
                        div Shopping
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#sports
                        img(src='/public/img/interests/sports.svg' alt='')
                        div Sports
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#museums
                        img(src='/public/img/interests/museum.svg' alt='')
                        div Museums
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#spectacles
                        img(src='/public/img/interests/spectacles.svg' alt='')
                        div Spectacles
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#wellness
                        img(src='/public/img/interests/wellness.svg' alt='')
                        div Wellness
                .col.action-group.interests-info
                    div.budget-text.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='submitInterests()') I'm done!

block scripts
    script.
        function selectInterest (el) {
            if (el.children[0].className.indexOf('interest-container--selected') == -1) {
                el.children[0].className += ' interest-container--selected'
            } else {
                el.children[0].className = el.children[0].className.replace('interest-container--selected','')
            }
        }

        function submitInterests () {
            var interests = []
            Array.from(document.getElementsByClassName('interest-container--selected')).forEach(function (el, i) {
                interests.push(document.getElementsByClassName('interest-container--selected')[i].id)
            })
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/dbcontroller/interests");
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    window.location.href = '/date'
                }
            }
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.send(JSON.stringify({ "interests": interests, "bookingDate": bookingdate, "returnDate": returndate}));
        }