extends layout.pug

block menu
    .header-container
        span.return-button(onclick='window.history.back()')
            i.fa.fa-arrow-left
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')

block content
    .row.main-container
        .interests-container
            .row
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#food
                        img(src='/public/img/interests/food.svg' alt='')
                        div Food
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#shopping
                        img(src='/public/img/interests/shopping.svg' alt='')
                        div Shopping
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#sports
                        img(src='/public/img/interests/sports.svg' alt='')
                        div Sports
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#museums
                        img(src='/public/img/interests/museum.svg' alt='')
                        div Museums
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#spectacles
                        img(src='/public/img/interests/spectacles.svg' alt='')
                        div Spectacles
                .col-6.interest-block(onclick='selectInterest(this)')
                    .interest-container#wellness
                        img(src='/public/img/interests/wellness.svg' alt='')
                        div Wellness
                .col.action-group.interests-info
                    div.budget-text.text-center To fully personalize your travel experience, select the most accurate categories of your liking!
                .buttons-container.col    
                    button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='submitInterests()') I'm done!

block append scripts
    script.
        function selectInterest (el) {
            var interestElement = el.children[0], interestElementSelector = '#'+interestElement.id
            if (interestElement.className.indexOf('interest-container--selected') == -1) {
                interestElement.className += ' interest-container--selected'
            } else {
                interestElement.className = interestElement.className.replace('interest-container--selected','')
            }
            console.log(interestElementSelector)
            animate(interestElementSelector)
        }

        function submitInterests () {
            window.location.href = '/budget/'+window.location.search
        }
        
        function animate (el) {
            var tl = new TimelineMax;
            tl.to(el, 0.15, {scaleX:1.1, scaleY:1.1})
                .to(el, 0.15, {scaleX:1, scaleY:1})
        }