doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title BBVA Travel Experience
    link(rel='stylesheet' type='text/css' href='/public/dist/bundle.css')
  body
    .container
      block menu
      block content
      block footer
      block scripts
        script(src='/public/dist/bundle.js')
