extends layout.pug

block header
  .jumbotron
    h1 BBVA User Data Profile Modeling

block content
    ul
        each property, index in userData
            li #{Object.keys(userData)[index]} : #{property}

block footer
  .footer
    p Copyright 2018
