extends layout.pug
block menu
    .header-container
        span.return-button
            i.fa.fa-left-arrow
        img.logo-bbva(src='/public/img/logo.png' alt='BBVA Logo')
block content
    .row
        .col.main-container
            .results-top-text.text-center
                h1.text-showcase It's time to come back
                h3.text-showcase-sub when do you want to return?
                img.date-featured-img(src='/public/img/interests/calendar.svg')
                div.budget-text Take in account..full trip..lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                button.btn.btn-primary.btn-lg.btn-block#start-date-input(type='button' onclick='dateInput()') Select return date
                input.form-control.form-control-lg.input-return-date#dateInput(type="datetime-local" value="2011-08-19T13:45:00")
                button.btn.btn-primary.btn-lg.btn-block#next-step-date(type='button' onclick='sendBookingDate()') Looks great!

block scripts
    script.
        function dateInput () {
            document.querySelector('#start-date-input').className +=  ' hide'
            document.querySelector('#dateInput').className +=  ' show'
            document.querySelector('#next-step-date').className +=  ' show'
         }

         function sendBookingDate () {
            var date = document.getElementById('dateInput').value
            window.location.href = '/interests/'+window.location.search+'&returndate='+date
         }