extends layout.pug

block content
    .row
        .col
            h1.text-showcase Welcome, Iván
            img.img-showcase(src='' alt='')
            button.cta-button(type='button' onclick='window.location.href = ""')

            button.btn.btn-primary.btn-lg.btn-block(type='button' onclick='window.location.href = "../destination"') Start
